{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{ dump(consoles) }}

    <!-- table>(thead>tr>th*3)>(tbody>tr>td*3) -->
    <table class="table">
        <thead>
            <tr>
                <th>Nom produit</th>
                <th>Prix</th>
                <th>Image produit</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for console in consoles %}
                <tr>
                    <td>
                        <a href="{{ path("produit", {"id": console.id}) }}">{{ console.nom }}</a>
                    </td>
                    <td>{{ console.prix|number_format(2,'.',' ') }} €</td>
                    <td><img src="{{ asset("build/images/"~console.image) }}" style="width:150px"></td>
                    <td>{{ console.category.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="button" class="btn btn-outline-dark">Ajouter</button>
    {{ form_end(form) }}
    
    {{ dump(form) }}

{% endblock %}


